@font-face {
    font-family: 'IRANSansWeb';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/font/iranyekanwebregular(fanum).eot'),
    url('./assets/font/iranyekanwebregular(fanum).woff2') format('woff2'),
    url('./assets/font/iranyekanwebregular(fanum).woff') format('woff'),
    url('./assets/font/iranyekanwebregular(fanum).ttf') format('truetype');
}



*{
    font-family: "IRANSansWeb";
    direction: rtl;
    text-align: right;
    text-decoration: none !important;
}
body{
    background: #d9d1d1 !important;
}
a{
    color: rgb(36,36,36);
}
button{
    font-family: "IRANSansWeb" !important;

}

.container{
    padding: 0 50px;
}


.has-background-danger{
    background: #c00 !important;
}
@media screen and (max-width: 600px) {
    .container{
        padding: 0 8px;
    }
}